
Iipu/lab4 _camera/lab4/Da_Videa.avi
Iipu/lab4 _camera/.vs/lab4/v16/ipch/AutoPCH/5c90d39fdefb34b/LAB4.ipch
Iipu/lab4 _camera/.vs/lab4/v16/ipch/AutoPCH/16af3de768680e2d/LAB4.ipch
Iipu/lab4 _camera/.vs/lab4/v16/Browse.VC.db
Iipu/lab4 _camera/.vs/lab4/v16/.suo
Iipu/lab4 _camera — копия/x64/Release/lab4.pdb
Iipu/lab4 _camera — копия/x64/Release/lab4.lib
Iipu/lab4 _camera — копия/x64/Release/lab4.ipdb
Iipu/lab4 _camera — копия/x64/Release/lab4.iobj
Iipu/lab4 _camera — копия/x64/Release/lab4.exp
Iipu/lab4 _camera — копия/x64/Release/lab4.exe
Iipu/lab4 _camera — копия/x64/Release.rar
Iipu/lab4 _camera — копия/x64/Debug/lab4.pdb
Iipu/lab4 _camera — копия/x64/Debug/lab4.lib
Iipu/lab4 _camera — копия/x64/Debug/lab4.ilk
Iipu/lab4 _camera — копия/x64/Debug/lab4.exp
Iipu/lab4 _camera — копия/x64/Debug/lab4.exe
Iipu/lab4 _camera — копия/lab4/x64/Release/vc142.pdb
Iipu/lab4 _camera — копия/lab4/x64/Release/lab4.tlog/link.write.1.tlog
Iipu/lab4 _camera — копия/lab4/x64/Release/lab4.tlog/link.read.1.tlog
Iipu/lab4 _camera — копия/lab4/x64/Release/lab4.tlog/link.command.1.tlog
Iipu/lab4 _camera — копия/lab4/x64/Release/lab4.tlog/lab4.write.1u.tlog
Iipu/lab4 _camera — копия/lab4/x64/Release/lab4.tlog/lab4.lastbuildstate
Iipu/lab4 _camera — копия/lab4/x64/Release/lab4.tlog/CL.write.1.tlog
Iipu/lab4 _camera — копия/lab4/x64/Release/lab4.tlog/CL.read.1.tlog
Iipu/lab4 _camera — копия/lab4/x64/Release/lab4.tlog/CL.command.1.tlog
Iipu/lab4 _camera — копия/lab4/x64/Release/lab4.obj
Iipu/lab4 _camera — копия/lab4/x64/Release/lab4.log
Iipu/lab4 _camera — копия/lab4/x64/Debug/vc142.pdb
Iipu/lab4 _camera — копия/lab4/x64/Debug/vc142.idb
Iipu/lab4 _camera — копия/lab4/x64/Debug/lab4.tlog/link.write.1.tlog
Iipu/lab4 _camera — копия/lab4/x64/Debug/lab4.tlog/link.read.1.tlog
Iipu/lab4 _camera — копия/lab4/x64/Debug/lab4.tlog/link.command.1.tlog
Iipu/lab4 _camera — копия/lab4/x64/Debug/lab4.tlog/lab4.write.1u.tlog
Iipu/lab4 _camera — копия/lab4/x64/Debug/lab4.tlog/lab4.lastbuildstate
Iipu/lab4 _camera — копия/lab4/x64/Debug/lab4.tlog/CL.write.1.tlog
Iipu/lab4 _camera — копия/lab4/x64/Debug/lab4.tlog/CL.read.1.tlog
Iipu/lab4 _camera — копия/lab4/x64/Debug/lab4.tlog/CL.command.1.tlog
Iipu/lab4 _camera — копия/lab4/x64/Debug/lab4.obj
Iipu/lab4 _camera — копия/lab4/x64/Debug/lab4.log
Iipu/lab4 _camera — копия/lab4/x64/Debug/lab4.exe.recipe
Iipu/lab4 _camera — копия/lab4/video1.avi
Iipu/lab4 _camera — копия/lab4/photo1.jpg
Iipu/lab4 _camera — копия/lab4/lab4.vcxproj.user
Iipu/lab4 _camera — копия/lab4/lab4.vcxproj.filters
Iipu/lab4 _camera — копия/lab4/lab4.vcxproj
Iipu/lab4 _camera — копия/lab4/lab4.cpp
Iipu/lab4 _camera — копия/lab4/hDa_Videa.avi
Iipu/lab4 _camera — копия/lab4/hDa_Pic.jpg
Iipu/lab4 _camera — копия/lab4.sln
Iipu/lab4 _camera — копия/.vs/lab4/v16/ipch/AutoPCH/b2212d5b1167b5f1/LAB4.ipch
Iipu/lab4 _camera — копия/.vs/lab4/v16/ipch/AutoPCH/5c90d39fdefb34b/LAB4.ipch
Iipu/lab4 _camera — копия/.vs/lab4/v16/ipch/AutoPCH/3bde5cfdff6fd337/LAB4.ipch
Iipu/lab4 _camera — копия/.vs/lab4/v16/Browse.VC.db
Iipu/lab4 _camera — копия/.vs/lab4/v16/.suo
Iipu/lab3_batery/x64/Debug/LAB3.pdb
Iipu/lab3_batery/x64/Debug/LAB3.ilk
Iipu/lab3_batery/x64/Debug/LAB3.exe
Iipu/lab3_batery/lab3_batery.rar
Iipu/lab3_batery/LAB3/x64/Debug/vc142.pdb
Iipu/lab3_batery/LAB3/x64/Debug/vc142.idb
Iipu/lab3_batery/LAB3/x64/Debug/Source.obj
Iipu/lab3_batery/LAB3/x64/Debug/LAB3.tlog/link.write.1.tlog
Iipu/lab3_batery/LAB3/x64/Debug/LAB3.tlog/link.read.1.tlog
Iipu/lab3_batery/LAB3/x64/Debug/LAB3.tlog/link.command.1.tlog
Iipu/lab3_batery/LAB3/x64/Debug/LAB3.tlog/LAB3.lastbuildstate
Iipu/lab3_batery/LAB3/x64/Debug/LAB3.tlog/CL.write.1.tlog
Iipu/lab3_batery/LAB3/x64/Debug/LAB3.tlog/CL.read.1.tlog
Iipu/lab3_batery/LAB3/x64/Debug/LAB3.tlog/CL.command.1.tlog
Iipu/lab3_batery/LAB3/x64/Debug/LAB3.log
Iipu/lab3_batery/LAB3/Source.cpp
Iipu/lab3_batery/.vs/LAB3/v16/ipch/AutoPCH/53dad50cc02cd26c/SOURCE.ipch
Iipu/lab3_batery/.vs/LAB3/v16/Browse.VC.db
Iipu/lab3_batery/LAB3/x64/Debug/LAB3.log
Iipu/lab3_batery/LAB3/x64/Debug/LAB3.tlog/CL.command.1.tlog
Iipu/lab3_batery/LAB3/x64/Debug/LAB3.tlog/CL.read.1.tlog
Iipu/lab3_batery/LAB3/x64/Debug/LAB3.tlog/CL.write.1.tlog
Iipu/lab3_batery/LAB3/x64/Debug/LAB3.tlog/LAB3.lastbuildstate
Iipu/lab3_batery/LAB3/x64/Debug/LAB3.tlog/link.command.1.tlog
Iipu/lab3_batery/LAB3/x64/Debug/LAB3.tlog/link.read.1.tlog
Iipu/lab3_batery/LAB3/x64/Debug/LAB3.tlog/link.write.1.tlog
Iipu/lab3_batery/LAB3/x64/Debug/Source.obj
Iipu/lab3_batery/LAB3/x64/Debug/vc142.idb
Iipu/lab3_batery/LAB3/x64/Debug/vc142.pdb
Iipu/lab3_batery/lab3_batery.rar
Iipu/lab3_batery/x64/Debug/LAB3.exe
Iipu/lab3_batery/x64/Debug/LAB3.ilk
Iipu/lab3_batery/x64/Debug/LAB3.pdb
Iipu/lab4 _camera/lab4/hDa_Pic.jpg
Iipu/lab4 _camera/lab4/hDa_Videa.avi
